
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DelicaciesFood.Model;
@{
    List<RecipeType> types = ViewBag.typeList;
    List<Food> foods = ViewBag.foodsList;
    List<Sfav> sfavs = ViewBag.sfavsList;
    List<DietNous> dietnousList = ViewBag.dietnousList;
    int ranknum = 1;
}


<!-- CSS Bootstrap & Custom -->
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/templatemo-misc.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/templatemo-main.css" rel="stylesheet" />
<link href="~/Content/new.css" rel="stylesheet" />

<!-- Favicons -->
<link rel="shortcut icon" href="images/ico/favicon.ico">

<!-- JavaScripts -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/modernizr.js"></script>

@*每日推荐板块*@
<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="~/images/banner01.jpg" alt="">
            <div class="flex-caption">
                <span></span>
                <p>Praesent tincidunt neque semper elementum gravida. Donec id euismod magna.<br>Ut erat ligula, malesuada eu quam a, fringilla auctor augue.</p>
            </div>
        </li>
        <li>
            <img src="~/images/banner02.jpg" alt="">
            <div class="flex-caption">
                <h2>Responsive Mobile</h2>
                <span></span>
                <p>Ea, similique, odit id consectetur est beatae quia dicta officiis ipsam itaque in<br>facilis aliquid quas officia voluptatem repellendus repellat!</p>
            </div>
        </li>
    </ul>
</div>

@*食谱大全板块*@
<div id="services" class="section-cotent">
    <div class="container">
        <div class="title-section text-center">
            <h2>食谱大全</h2>
            <span></span>
        </div> <!-- /.title-section -->
        <div class="complete_menu">
            <div id="show" class="category_box">
                @foreach (var item in types)
                {
                    if (item.PID == null)
                    {
                        @*大标题*@
                        <span class="Big_type">@item.TypeName</span>
                        <div class="small_type_box">
                            @foreach (var item1 in types)
                            {
                                if (item.TypeID == item1.PID)
                                {
                                    <a class="small_type" href="/Foods/Index">@item1.TypeName</a>
                                }
                            }
                        </div>
                        <br />
                        <br />
                    }
                }
            </div>
        </div> <!-- /.complete_menu -->
    </div> <!-- /.container -->
</div> <!-- /#services -->
@*健康饮食小知识*@
<div id="portfolio" class="section-content">
    <div class="container">
        <div class="title-section text-center">
            <h2>健康饮食小知识</h2>
            <span></span>
        </div> <!-- /.title-section -->
        <div class="Diet_row">
            <div class="Diet_box">
                
                <div class="Diet_img_box">
                    <img id="Diet_img_1"  src="~/images/diet/蛋白粉.jpg" />
                    <img id="Diet_img_2" style="display:none" src="~/images/diet/蛋白粉（1）.jpg" />
                    <img id="Diet_img_3" style="display:none" src="~/images/diet/水飞蓟.jpg" />
                </div>
                <div>
                    <ul style="width:325px">
                        <li id="Diet_li_1" style="border:none;"><a href="#">懒人营养早餐怎么办？了解下蛋白粉1</a></li>
                        <li id="Diet_li_2"><a href="#">懒人营养早餐怎么办？了解下蛋白粉2</a></li>
                        <li id="Diet_li_3"><a href="#">懒人营养早餐怎么办？了解下蛋白粉3</a></li>
                    </ul>
                </div>
            </div> <!-- /.Diet_box -->
            <div class="Diet_box">
                <div class="">
                    <img style="width: 180px;" src="~/images/diet/蛋白粉.jpg" />
                </div>
                <div>
                    <ul style="width:325px">
                        <li style="border:none"><a href="#">懒人营养早餐怎么办？了解下蛋白粉1</a></li>
                        <li><a href="#">懒人营养早餐怎么办？了解下蛋白粉2</a></li>
                        <li><a href="#">懒人营养早餐怎么办？了解下蛋白粉3</a></li>
                    </ul>
                </div>
            </div> <!-- /.Diet_box -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#portfolio -->
@*时令时蔬*@
<div id="about" class="section-cotent">
    <div class="container">
        <div class="title-section text-center">
            <h2>时令时蔬</h2>
            <span></span>
        </div> <!-- /.title-section -->
        <div class="row">
            @foreach (var item in sfavs)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="service-item fruits_box">
                        <div class="fruits_imagebox">
                            <img class="fruits_image" src="~/images/fruits/@item.SfavPic" />
                        </div>
                        <div class="fruits_details">
                            <a href="/Health/Index">@item.SfavName</a>
                            <p>
                                @item.SfavExplain
                            </p>
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
            }
        </div> <!-- /.row -->
        <h6 style="text-align: center; font-size: 21px; margin-top: 10px;">当前月份：@ViewBag.time</h6>
    </div> <!-- /.container -->
</div> <!-- /#about -->
@*排行榜*@
<div id="contact" class="section-cotent">
    <div>
        <div class="container">
            <div class="title-section text-center">
                <h2>排行榜</h2>
                <span></span>
            </div> <!-- /.title-section -->

            <table class="table table-bordered">
                <tr>
                    <th>排行</th>
                    <th>美食名称</th>
                    <th>图片</th>
                    <th>类别</th>
                    <th>难度系数</th>
                    <th>点赞数</th>
                    <th>操作</th>
                </tr>

                @foreach (var item in foods)
                {
                    <tr>
                        <td>@ranknum</td>
                        <td>@item.FoodName</td>
                        <td><img width="130" height="80" src="~/images/food/@item.FoodPicture" /></td>
                        <td>@item.FoodType</td>
                        <td>@item.FoodDifficulty</td>
                        <td>@item.ThumbNumber</td>
                        <td>
                            <a class="btn btn-default" href="#">详情</a>
                            <a class="btn btn-danger" href="#">❤</a>
                        </td>
                    </tr>
                    ranknum++;
                }
            </table>
        </div>
    </div> <!-- /.container -->
</div> <!-- /#main-header -->

@*@section scripts{
    <script type="text/javascript">
        //鼠标移入
        $('#Diet_li_1').mouseover(function () {
            $('#Diet_img_1').show();
        });
        //鼠标移出
        $('#Diet_li_1').mouseout(function () {
            $('#Diet_img_1').hide();
        });

        //鼠标移入
        $('#Diet_li_2').mouseover(function () {
            $('#Diet_img_2').show();
        });
        //鼠标移出
        $('#Diet_li_2').mouseout(function () {
            $('#Diet_img_2').hide();
        });

        //鼠标移入
        $('#Diet_li_3').mouseover(function () {
            $('#Diet_img_3').show();
        });
        //鼠标移出
        $('#Diet_li_3').mouseout(function () {
            $('#Diet_img_3').hide();
        });
    </script>
}*@

