
@{
    ViewBag.Title = "Index";
}

@using CodeFirstSystem1.Models;
@{ 
    List<Sfav> list = ViewBag.list;
    int ranknum = 1;
}

<h2>时蔬列表</h2>
<a href="/Sfav/Add" class="btn btn-primary">增加</a>
<table class="table table-bordered">
    <tr>
        <td>编号</td>
        <td>水果名称</td>
        <td>水果图片</td>
        <td>水果描述</td>
        <td>成熟月份</td>
        <td>操作</td>
    </tr>
    @foreach (var item in list)
    {
        <tr>
            <td>@ranknum</td>
            <td>@item.SfavName</td>
            <td><img width="180" height="80" src="~/images/sfav/@item.SfavPic" /></td>
            <td style="max-width: 210px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.SfavExplain</td>
            <td>@item.MatureSeason</td>
            <td>
                <a href="/Sfav/Detail/@item.SfavID" class="btn btn-primary">编辑</a>
                <a href="/Sfav/Del/@item.SfavID" onclick="return confirm('确定删除 @item.SfavName 吗？')" class="btn btn-primary">删除</a>
            </td>
        </tr>
        ranknum++;
    }

</table>

