
@{
    Layout = null;
}

@using DelicaciesFood.Model
@{
    List<RecipeType> types = ViewBag.typeList;
    List<Food>foods= ViewBag.foodsList;
}
@using PagedList;
@model IPagedList<Food>

<!DOCTYPE html>

<html>
<head>
    <title>菜品大全</title>
    <!-- CSS Bootstrap & Custom -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/templatemo-main.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div>
                            <span><a style="font-size:24px;font-weight:bold;color:white" href="/FoodWeb/Index">山珍海味吃货网</a></span>
                        </div> <!-- /.left-header -->
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-6">
                        <div class="right-header text-right">
                            <ul class="social-icons">
                                <li><span>欢迎你，@User.Identity.Name</span></li>
                                <li><a href="/MyZone/Index" title="我的" class="fa fa-user" aria-hidden="true"></a></li>
                                <li><a href="#" title="消息" class="fa fa-bell-o" aria-hidden="true"></a></li>
                                <li><a href="/Login/TLogout" title="退出" class="fa fa-power-off" aria-hidden="true"></a></li>
                            </ul>
                        </div> <!-- /.left-header -->
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->
        @*标签页*@
        <div style="width:80%;height:500px;margin:0px auto">
            <div class="allfood">
                <div class="complete_menu" style="margin-top:30px;background-color:#F7F7F7;box-shadow:5px 5px 5px 10px #EEEEEE">
                    <div style="margin-left:15px">
                        @foreach (var item in types)
                        {
                            if (item.PID == null)
                            {
                                <div style="margin-top:5px" class="type_box">
                                    @*大标题*@
                                    <span style="font-size:20px" class="Big_type">@item.TypeName</span>
                                    <div style="display:inline;margin-left:2em" class="small_type_box">
                                        @foreach (var item1 in types)
                                        {
                                            if (item.TypeID == item1.PID)
                                            {
                                                <a style="font-size:14px;color:#CC7A00;margin-left:1em" class="small_type" href="/Foods/Index">@item1.TypeName</a>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div> <!-- /.complete_menu -->
                <div style="margin-top:30px;border:1px solid black" class="row">
                    @foreach (var item in foods)
                    {
                        <div class="col-lg-3" style="border:1px solid red;width:135px;height:65px">
                            <dl>
                                <dt><img height="30" src="~/images/@item.FoodPicture" /></dt>
                                <dd>@item.FoodName</dd>
                                <dd>点赞数： @item.ThumbNumber</dd>
                                <dd>@item.User</dd>
                            </dl>
                        </div>
                    }
                </div>
            </div><!-- /.allfood -->
        </div><!-- /.tab_content -->
        @*底部*@
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <hr />
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <p>Copyright &copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="go-top">
                            <a href="#" id="go-top">
                                <i class="fa fa-angle-up"></i>
                                返回到顶部
                            </a>
                        </div>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.site-footer -->
    </div>
</body>
</html>




