
@{
    ViewBag.Title = "Detail";
}

@using CodeFirstSystem1.Models;
@model RecipeType

<h2>详情-@Model.TypeName</h2>

<div class="form-horizontal">
    <form id="form1" class="General_content_form" action="/Typemin/Edit" method="post">
        <p>
            <input type="hidden" name="TypeID" value="@Model.TypeID" />
            <input type="hidden" name="PID" value="@Model.PID" />
        </p>
        <p>
            类别名称：
            <input type="text" name="TypeName" value="@Model.TypeName" />
        </p>
        <p>
            英文名称：
            <input type="text" name="TEName" value="@Model.TEName" />
        </p>
        <p>
            所属大类：
           
                @Html.DropDownList("PID", ViewBag.Tminlist as List<SelectListItem>)
        
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="提交" />
            <input class="btn btn-danger" type="button" onclick="back();" value="返回" />
        </p>
    </form>
</div>


<script type="text/javascript">
    function back() {
        location.href = "/Type/Index";
    }
</script>
